{include file="public/header" /}
<div class="main-content">
	<div class="main-content-inner">

		<div class="page-content">


			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<form action="{:url('friendship/friendshipaddsave')}" method="post" class="form-horizontal" role="form">
						<div class="form-group" style="background-color: lightgrey">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
							<div class="col-sm-9" style="font-size: 35px;padding-left: 100px">
								添加友情链接
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 友情链接名称： </label>

							<div class="col-sm-9">
								<input name="name" type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 链接地址： </label>

							<div class="col-sm-9">
								<input name="link" type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 排序： </label>

							<div class="col-sm-9">
								<input name="order" type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="clearfix form-actions">
							<div class="col-md-offset-3 col-md-9">
								<button class="btn btn-info" type="submit">

									提交
								</button>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset">
									重置
								</button>
							</div>
						</div>
						<!-- </form> -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script type="text/javascript">
    $('#sub').click(function () {
        // alert("测试");
        ajaxPost();
    })
    function ajaxPost(){
        var formData=new FormData();
        if($('#file')[0].files.length<=0){
            alert("请选择文件");
            return;
        }
        formData.append('image',$('#file')[0].files[0]);
        $.ajax({
            type:'post',
            url:"{:url('Menage/picture')}",
            data:formData,
            cache:false,
            processData:false,
            contentType:false,
            success:function(data){
                if(data){
                    var html='<img src="'+data.src+'" width="480" height="135">';
                    $('#content').html(html);
                    $('[name=picture]').val(data.src)
                }else{
                    alert("上传失败");
                }

            }
        })
    }
</script>
