  {include file="public/header" /}
<div class="main-content">
<div class="main-content-inner">


<div class="page-content">



	<form name="formadd" action="{:url('webinfo/mainaboutsave')}" method="post">
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row">
			<div class="col-xs-12">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
						<tr>
							<td colspan="2">首页关于我们</td>
						</tr>
					</thead>


					<tbody>

						<tr>
							<td class="center" style="width: 200px;font-size: 20px;height:200px;line-height: 200px" >
								<div class="action-buttons">
									首页关于我们
									<input type="hidden" value="1" name="id">
								</div>
							</td>
							<td style="text-align: center" width="200px" height="500px">
								<script id="container" name="content" type="text/plain">
							    {$mainabout.content}
								</script>
							</td>
						</tr>

					<tr>
						<td colspan="2" style="text-align: center"><button type="submit">保存</button><button>返回</button></td>
					</tr>
					</tbody>
				</table>
			</div><!-- /.span -->
		</div><!-- /.row -->
		<div class="hr hr-18 dotted hr-double"></div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
	</form>
</div><!-- /.page-content -->
</div>
</div><!-- /.main-content -->
  <script type="text/javascript" src="/static/common/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" src="/static/common/ueditor/ueditor.all.js"></script>
  <script>
	  var ue=UE.getEditor('container',{
	      autoHeightEnabled:false,
	      initialFrameWidth:1000,
          initialFrameHeight:500,
	  });
  </script>